.skills__container {
  grid-template-columns: 360px 320px;
  column-gap: 3rem;
  justify-content: center;
}

.skills__tabs {
  display: grid;
  justify-content: center;
  margin-bottom: var(--mb-2);
}

.skills__button {
  font-size: var(--h3-font-size);
  color: var(--title-color);
  margin: 0 var(--mb-1);
  cursor: pointer;
}

.skills__button:hover {
  color: var(--title-color-dark);
}

.skills__tabs:not(:last-child) {
  margin-bottom: var(--mb-2-5);
}

.skills__icon,
.skills__arrow {
  font-size: 2rem;
  color: var(--skin-color);
}

.skills__icon {
  margin-right: var(--mb-0-75);
}

.skills__title {
  font-size: var(--h3-font-size);
  font-weight: var(--font-medium);
}

.skills__subtitle {
  font-size: var(--small-font-size);
}

.skills__arrow {
  margin-left: auto;
}

.skills__active .skills__arrow {
  transform: rotate(-90deg);
  transition: 0.3s;
}

.skills__active {
  color: var(--title-color-dark);
}

.skills__sections {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
}

.skills__content {
  display: none;
}

.skills__content-active {
  display: block;
}

.skills__list {
  row-gap: 1.8rem;
}

.skills__languajes {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.skills__name {
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
}

.skills__bar {
  position: relative;
  border: 1px solid lightgray;
  border-radius: 20px;
}

.skills__bar div {
  position: relative;
  width: 0;
  height: 8px;
  border-radius: 10px;
  background-color: #61dafb;
}

/* Animacion Frontend */
#html-bar {
  animation: fillhtml 2s forwards;
}

@keyframes fillhtml {
  100% {
    width: 75%;
  }
}

#css-bar {
  animation: fillcss 2s forwards;
}

@keyframes fillcss {
  100% {
    width: 60%;
  }
}

#js-bar {
  animation: filljs 2s forwards;
}

@keyframes filljs {
  100% {
    width: 40%;
  }
}

#react-bar {
  animation: fillreact 2s forwards;
}

@keyframes fillreact {
  100% {
    width: 15%;
  }
}

/* Animacion Backend */
#java-bar {
  animation: filljava 2s forwards;
}

@keyframes filljava {
  100% {
    width: 80%;
  }
}

#sql-bar {
  animation: fillsql 2s forwards;
}

@keyframes fillsql {
  100% {
    width: 60%;
  }
}

#mysql-bar {
  animation: fillmysql 2s forwards;
}

@keyframes fillmysql {
  100% {
    width: 65%;
  }
}

#node-bar {
  animation: fillnode 2s forwards;
}

@keyframes fillnode {
  100% {
    width: 10%;
  }
}
/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 992px) {
  .skills__container {
    margin-left: auto;
    margin-right: auto;
    column-gap: 0.1rem;
  }
  .skills__tabs {
    display: grid;
    justify-content: center;
    margin-bottom: var(--mb-2);
  }
}

/* For medium devices */
@media screen and (max-width: 768px) {
  .skills__container {
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
    grid-template-columns: initial;
  }
  .skills__tabs {
    display: grid;
    justify-content: center;
    margin-bottom: var(--mb-2);
  }
  .skills__button {
    margin: var(--mb-1);
  }
  .skills__sections {
    width: 100%;
  }
}

@media screen and (max-width: 576px) {
  .skills__sections {
    grid-template-columns: 1fr;
  }

  .skills__tabs {
    display: grid;
    justify-content: center;
    margin-bottom: var(--mb-2);
  }
}

/* For small devices */
@media screen and (max-width: 350px) {
  .skills__container {
    grid-template-columns: 1fr;
  }
  .skills__title {
    font-size: var(--normal-font-size);
  }
}
